In [22]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
from IPython.display import display
from scipy import interp
from sklearn.svm import LinearSVC, SVC
from sklearn import svm, datasets
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.cross_validation import KFold
from sklearn.cross_validation import StratifiedKFold
from sklearn.multiclass import OneVsRestClassifier
from sklearn import preprocessing
from sklearn.preprocessing import Imputer
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
import datetime

%matplotlib inline

In [34]:
train = pd.read_csv('data.csv')
train.head()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
vali = pd.read_csv('Validation_25.csv')
test = pd.read_csv('Testing 75.csv')

In [36]:
y = train['Grant.Status']
X = train.drop('Grant.Status', axis=1)
X.head()

,Grant.Application.ID,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,280203.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,290000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# convert the first 25 string to numerical features
X['Sponsor.Code'] = pd.get_dummies(X['Sponsor.Code'], dummy_na=True).values.argmax(1)
X['Grant.Category.Code'] = pd.get_dummies(X['Grant.Category.Code'], dummy_na=True).values.argmax(1)
X['Contract.Value.Band...see.note.A'] = pd.get_dummies(X['Contract.Value.Band...see.note.A'], dummy_na=True).values.argmax(1)
X['RFCD.Code.1'] = pd.get_dummies(X['RFCD.Code.1'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.1'] = pd.get_dummies(X['RFCD.Percentage.1'], dummy_na=True).values.argmax(1)
X['RFCD.Code.2'] = pd.get_dummies(X['RFCD.Code.2'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.2'] = pd.get_dummies(X['RFCD.Percentage.2'], dummy_na=True).values.argmax(1)
X['RFCD.Code.3'] = pd.get_dummies(X['RFCD.Code.3'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.3'] = pd.get_dummies(X['RFCD.Percentage.3'], dummy_na=True).values.argmax(1)
X['RFCD.Code.4'] = pd.get_dummies(X['RFCD.Code.4'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.4'] = pd.get_dummies(X['RFCD.Percentage.4'], dummy_na=True).values.argmax(1)
X['RFCD.Code.5'] = pd.get_dummies(X['RFCD.Code.5'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.5'] = pd.get_dummies(X['RFCD.Percentage.5'], dummy_na=True).values.argmax(1)
X['SEO.Code.1'] = pd.get_dummies(X['SEO.Code.1'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.1'] = pd.get_dummies(X['SEO.Percentage.1'], dummy_na=True).values.argmax(1)
X['SEO.Code.2'] = pd.get_dummies(X['SEO.Code.2'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.2'] = pd.get_dummies(X['SEO.Percentage.2'], dummy_na=True).values.argmax(1)
X['SEO.Code.3'] = pd.get_dummies(X['SEO.Code.3'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.3'] = pd.get_dummies(X['SEO.Percentage.3'], dummy_na=True).values.argmax(1)
X['SEO.Code.4'] = pd.get_dummies(X['SEO.Code.4'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.4'] = pd.get_dummies(X['SEO.Percentage.4'], dummy_na=True).values.argmax(1)
X['SEO.Code.5'] = pd.get_dummies(X['SEO.Code.5'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.5'] = pd.get_dummies(X['SEO.Percentage.5'], dummy_na=True).values.argmax(1)

In [38]:
# convert string features of 15 people to numerics
col = 26
for i in range(15):
    X[X.columns[col]] = pd.get_dummies(X[X.columns[col]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 2]] = pd.get_dummies(X[X.columns[col + 2]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 3]] = pd.get_dummies(X[X.columns[col + 3]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 6]] = pd.get_dummies(X[X.columns[col + 6]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 7]] = pd.get_dummies(X[X.columns[col + 7]], dummy_na=True).values.argmax(1)
    col = col + 15

In [39]:
#daria selecting train, validation, and test
#select train set 
X_train = X.loc[~X['Grant.Application.ID'].isin(vali['ids']) & ~X['Grant.Application.ID'].isin(test['ids'])]
y_train = y.loc[~X['Grant.Application.ID'].isin(vali['ids']) & ~X['Grant.Application.ID'].isin(test['ids'])]

#select validation set 
X_vali =X.loc[X['Grant.Application.ID'].isin(vali['ids'])]
y_vali =y.loc[X['Grant.Application.ID'].isin(vali['ids'])]

#select test set for predictions
X_test =X.loc[X['Grant.Application.ID'].isin(test['ids'])]
y_test =y.loc[X['Grant.Application.ID'].isin(test['ids'])]

In [40]:
#Select Team for Score

a=range(25,X_train.shape[1]-1)
X_Team_train= X_train[X_train.columns[a]]
X_Team_vali= X_vali[X_vali.columns[a]]
X_Team_test= X_test[X_test.columns[a]]

In [41]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(X[a].values)
X_Team_train = imp.transform(X_Team_train)
X_Team_vali = imp.transform(X_Team_vali)
X_Team_test = imp.transform(X_Team_test)

In [42]:
rfc_team = RandomForestClassifier(max_depth=200, n_estimators=1200)
rfc_team.fit(X_Team_train, y_train)
s = rfc_team.score(X_Team_vali, y_vali)
print(s)

0.702702702703

In [43]:
print rfc_team.score(X_Team_test, y_test)

0.684649967887

In [44]:
#calculate Team scores and add to dataset 
A=rfc_team.predict_proba(X_Team_train)[:,1][np.newaxis]
B=rfc_team.predict(X_Team_train)[np.newaxis]
C=rfc_team.predict_proba(X_Team_vali)[:,1][np.newaxis]
D=rfc_team.predict(X_Team_vali)[np.newaxis]
E=rfc_team.predict_proba(X_Team_test)[:,1][np.newaxis]
F=rfc_team.predict(X_Team_test)[np.newaxis]

#create new columns
X_train['Team_proba']= A.T
X_train['Team_lable']= B.T
X_vali['Team_proba']= C.T
X_vali['Team_lable']= D.T
X_test['Team_proba']= E.T
X_test['Team_lable']= F.T

/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
X_train.drop('Unnamed: 251',axis=1,inplace=True)
X_train.drop(X_train.columns[a],axis=1,inplace=True)
X_vali.drop('Unnamed: 251',axis=1,inplace=True)
X_vali.drop(X_vali.columns[a],axis=1,inplace=True)
X_test.drop('Unnamed: 251',axis=1,inplace=True)
X_test.drop(X_test.columns[a],axis=1,inplace=True)

/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
X_train[0:10,:]

TypeError: unhashable type

In [48]:
# split to day, month, and year
def c_Day(x): return x.split("/")[0]
def c_Month(x): return x.split("/")[1]
def c_Year(x): return x.split("/")[2]
def c_Weekday(x):
    d = datetime.datetime(year = int(c_Year(x)), month = int(c_Month(x)), day = int(c_Day(x)))
    return d.weekday()
def c_Season(x):
    month = int(c_Month(x))
    day = int(c_Day(x))
    if (month in [1,2]):
        return 3 # "winter"
    else:
        if (month in [4,5]):
            return 0 # "spring"
        else:
            if (month in [7,8]):
                return 1 # "summer"
            else:
                if (month in [10,11]):
                    return 2 # "autumn"
                else:
                    if (month == 3):
                        if (day <= 21):
                            return 3 # "winter"
                        else:
                            return 0 # "spring"
                    else:
                        if (month == 6):
                            if (day <= 21):
                                return 0 # "spring"
                            else:
                                return 1 # "summer"
                        else:
                            if (month == 9):
                                if (day <= 21):
                                    return 1 # "summer"
                                else:
                                    return 2 # "autumn"
                            else:
                                if (month == 12):
                                    if (day <= 21):
                                        return 2 # "autumn"
                                    else:
                                        return 3 # "winter"
    return -1

In [49]:
# assigning the split results to data columns
X_train['Start.day'] = X_train['Start.date'].apply(c_Day)
X_train['Start.month'] = X_train['Start.date'].apply(c_Month)
X_train['Start.year'] = X_train['Start.date'].apply(c_Year)
X_train['Start.weekday'] = X_train['Start.date'].apply(c_Weekday)
X_train['Start.season'] = X_train['Start.date'].apply(c_Season)
X_train = X_train.drop('Start.date', axis=1)

# assigning the split results to data columns
X_vali['Start.day'] = X_vali['Start.date'].apply(c_Day)
X_vali['Start.month'] = X_vali['Start.date'].apply(c_Month)
X_vali['Start.year'] = X_vali['Start.date'].apply(c_Year)
X_vali['Start.weekday'] = X_vali['Start.date'].apply(c_Weekday)
X_vali['Start.season'] = X_vali['Start.date'].apply(c_Season)
X_vali = X_vali.drop('Start.date', axis=1)

# assigning the split results to data columns
X_test['Start.day'] = X_test['Start.date'].apply(c_Day)
X_test['Start.month'] = X_test['Start.date'].apply(c_Month)
X_test['Start.year'] = X_test['Start.date'].apply(c_Year)
X_test['Start.weekday'] = X_test['Start.date'].apply(c_Weekday)
X_test['Start.season'] = X_test['Start.date'].apply(c_Season)
X_test = X_test.drop('Start.date', axis=1)


X_train.head(10)

/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Grant.Application.ID,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,RFCD.Percentage.3,...,B.15,C.15,Unnamed: 251,Team_proba,Team_lable,Start.day,Start.month,Start.year,Start.weekday,Start.season
0,1,297,13,0,165,23,0,0,0,0,...,NaN,NaN,NaN,0.957083,1,8,11,05,1,2
1,2,187,0,1,156,5,167,8,157,14,...,NaN,NaN,NaN,0.935102,1,11,11,05,4,2
2,3,186,1,0,359,16,412,14,0,0,...,NaN,NaN,NaN,0.879167,1,14,11,05,0,2
3,4,236,1,2,133,13,346,17,0,0,...,NaN,NaN,NaN,0.913333,1,15,11,05,1,2
4,5,263,0,0,86,8,161,10,177,10,...,NaN,NaN,NaN,0.284583,0,16,11,05,2,2
5,6,255,0,16,396,23,0,0,0,0,...,NaN,NaN,NaN,0.929861,1,19,11,05,5,2
6,7,187,0,16,143,13,113,8,116,6,...,NaN,NaN,NaN,0.227333,0,19,11,05,5,2
7,8,177,5,0,416,23,0,0,0,0,...,NaN,NaN,NaN,0.007500,0,19,11,05,5,2
8,9,187,0,7,76,13,80,17,0,0,...,NaN,NaN,NaN,0.854167,1,19,11,05,5,2
9,10,187,0,16,143,10,146,8,101,9,...,NaN,NaN,NaN,0.888611,1,19,11,05,5,2

In [50]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(X_train.values)
X_train = imp.transform(X_train)
X_vali = imp.transform(X_vali)
X_test = imp.transform(X_test)

In [51]:
rfc = RandomForestClassifier(max_depth=200, n_estimators=1200)
rfc.fit(X_train, y_train)
s = rfc.score(X_vali, y_vali)
print(s)

0.727799227799

In [20]:
s = rfc.score(X_test, y_test)
print(s)

0.767501605652

In [32]:
X1_train = scipy.delete(X_train, 24, 1)
X1_vali = scipy.delete(X_vali, 24, 1)
X1_test = scipy.delete(X_test, 24, 1)

In [33]:
rfc = RandomForestClassifier(max_depth=200, n_estimators=1200)
rfc.fit(X1_train, y_train)
print rfc.score(X1_vali, y_vali)
print rfc.score(X1_test, y_test)

0.743243243243
0.737315350032