In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
from sklearn.svm import LinearSVC, SVC
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.cross_validation import KFold
from sklearn.multiclass import OneVsRestClassifier

/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [3]:
train = pd.read_csv('data.csv')
train.head()

/Users/tvnguyen/Softwares/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (90,105,119,120,123,124,132,134,135,138,139,147,149,150,153,154,162,164,165,168,169,177,179,183,184,192,194,198,199,207,209,213,214,224,237,239,244) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
np.unique(train['Grant.Status'])

array([0, 1])

In [51]:
y = train['Grant.Status']
X = train.drop('Grant.Status', axis=1)
X = X.fillna(0)
X.head()

,Grant.Application.ID,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,0,0,A,8/11/05,280199.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,280203.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,290000.0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
X['Sponsor.Code'] = pd.get_dummies(X['Sponsor.Code'], dummy_na=True).values.argmax(1)
X['Grant.Category.Code'] = pd.get_dummies(X['Grant.Category.Code'], dummy_na=True).values.argmax(1)
X['Contract.Value.Band...see.note.A'] = pd.get_dummies(X['Contract.Value.Band...see.note.A'], dummy_na=True).values.argmax(1)
X['Start.date'] = pd.get_dummies(X['Start.date'], dummy_na=True).values.argmax(1)
X['RFCD.Code.1'] = pd.get_dummies(X['RFCD.Code.1'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.1'] = pd.get_dummies(X['RFCD.Percentage.1'], dummy_na=True).values.argmax(1)
X['RFCD.Code.2'] = pd.get_dummies(X['RFCD.Code.2'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.2'] = pd.get_dummies(X['RFCD.Percentage.2'], dummy_na=True).values.argmax(1)
X['RFCD.Code.3'] = pd.get_dummies(X['RFCD.Code.3'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.3'] = pd.get_dummies(X['RFCD.Percentage.3'], dummy_na=True).values.argmax(1)
X['RFCD.Code.4'] = pd.get_dummies(X['RFCD.Code.4'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.4'] = pd.get_dummies(X['RFCD.Percentage.4'], dummy_na=True).values.argmax(1)
X['RFCD.Code.5'] = pd.get_dummies(X['RFCD.Code.5'], dummy_na=True).values.argmax(1)
X['RFCD.Percentage.5'] = pd.get_dummies(X['RFCD.Percentage.5'], dummy_na=True).values.argmax(1)
X['SEO.Code.1'] = pd.get_dummies(X['SEO.Code.1'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.1'] = pd.get_dummies(X['SEO.Percentage.1'], dummy_na=True).values.argmax(1)
X['SEO.Code.2'] = pd.get_dummies(X['SEO.Code.2'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.2'] = pd.get_dummies(X['SEO.Percentage.2'], dummy_na=True).values.argmax(1)
X['SEO.Code.3'] = pd.get_dummies(X['SEO.Code.3'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.3'] = pd.get_dummies(X['SEO.Percentage.3'], dummy_na=True).values.argmax(1)
X['SEO.Code.4'] = pd.get_dummies(X['SEO.Code.4'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.4'] = pd.get_dummies(X['SEO.Percentage.4'], dummy_na=True).values.argmax(1)
X['SEO.Code.5'] = pd.get_dummies(X['SEO.Code.5'], dummy_na=True).values.argmax(1)
X['SEO.Percentage.5'] = pd.get_dummies(X['SEO.Percentage.5'], dummy_na=True).values.argmax(1)

In [29]:
X[X.columns[26]][1]

'CHIEF_INVESTIGATOR'

In [33]:
X.loc[[26, 2]]

,Grant.Application.ID,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
26,27,0,0,3,267,0,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,187,2,1,147,360,17,412,14,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
#X[X.columns[26]] = pd.get_dummies(X[X.columns[26]], dummy_na=True).values.argmax(1)

In [40]:
#X[X.columns[26]][3]

6

In [42]:
X[X.columns[41]][156]

6

In [53]:
col = 26
for i in range(15):
    X[X.columns[col]] = pd.get_dummies(X[X.columns[col]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 2]] = pd.get_dummies(X[X.columns[col + 2]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 3]] = pd.get_dummies(X[X.columns[col + 3]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 6]] = pd.get_dummies(X[X.columns[col + 6]], dummy_na=True).values.argmax(1)
    X[X.columns[col + 7]] = pd.get_dummies(X[X.columns[col + 7]], dummy_na=True).values.argmax(1)
    col = col + 15

In [47]:
X[X.columns[26]][3]

6

In [48]:
X[X.columns[41]][156]

6

In [55]:
X_array = X.values
y_array = y

In [57]:
svc = LinearSVC(C=0.5)
n_folds = 5
kf = KFold(len(X), n_folds)
s = 0
for train_index, test_index in kf:
    X_train, X_test = X_array[train_index], X_array[test_index]
    y_train, y_test = y_array[train_index], y_array[test_index]
    svc.fit(X_train, y_train)
    s += svc.score(X_test, y_test)
print(s/n_folds)

0.539399806517

In [60]:
n_folds = 5
kf = KFold(len(X), n_folds)
rfc = RandomForestClassifier(max_depth=50, n_estimators=200)
s = 0
for train_index, test_index in kf:
    X_train, X_test = X_array[train_index], X_array[test_index]
    y_train, y_test = y_array[train_index], y_array[test_index]
    rfc.fit(X_train, y_train)
    s += rfc.score(X_test, y_test)
print(s/n_folds)

0.833260771651